/* RESET */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
html, body, ul {
    margin: 0;
    padding: 0;
}
a, a:visited {
    color: #fff;
    text-decoration: none;
}

/* Main */

* {
    font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, main {
    margin: 1rem auto 0 auto;
    width: 800px;
}

main {
    flex: 1;
}

#scoreboard {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
}

#gamegrid {
    border: 1px solid #ccc;
    z-index: 0;
}

.gamegrid {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#overlay {
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
}
#overlay.show {
    display: flex;
}

button.start {
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    font-size: 2rem;
    border: none;
}
button.start:hover {
    background-color: #fff;
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
footer ul {
    list-style-type: none;
}
footer ul li {
    display: inline-block
}
footer ul li + li:before {
    content: ' | ';
}
